body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Títulos principales de cada plataforma */
.maps {
    color: rgb(48, 114, 4);
}

.youtube {
    color: crimson;
}

.spotify {
    color: rgb(6, 93, 22);
}

.facebook {
    color: dodgerblue;
}

.insta {
    color: rgb(93, 93, 209);
}

.x {
    color: black;
}

.tiktok {
    color: rgb(227, 8, 176);
}

/* Subtítulos */
h3 {
    margin-top: 10px;
    color: #000;
}

/* Estilo general para iframes */
iframe {
    display: block;
    margin: 15px auto 40px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: none;
}

/* ================= SLIDER ================= */

.slider-container {
    position: relative;
    width: 95%;
    margin: 40px auto;
    display: flex;
    align-items: center;
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    min-width: 33.33%; /* 👈 3 visibles */
    padding: 15px;
    box-sizing: border-box;}

/* BOTONES */
.btn {
    background: white;
    border: none;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
}
.post {
    height: 250px;          /* Altura fija */
    overflow-y: auto;       /* Scroll vertical si hay mucho contenido */
    overflow-x: hidden;     /* Oculta scroll horizontal */
    padding: 15px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

/* Estilo opcional del scroll */
.post::-webkit-scrollbar {
    width: 6px;
}

.post::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}

.post::-webkit-scrollbar-thumb:hover {
    background: #888;
}