body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#Youtube
h1 {
    margin-top: 30px;
}
.youtube {
    color:crimson
}
.facebook {
    color:dodgerblue
}
.X {
    color:rgb(16, 11, 12)
}
.tiktok {
    color:rgb(149, 44, 181)
}
h2 {
    margin-top: 30px;
    color: #000000;
}


.contenedor-video {
    margin-top: 20px;
}

video {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}






