body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Títulos principales de cada plataforma */
.maps {
    color: rgb(48, 114, 4);
}

.youtube {
    color: crimson;
}

.facebook {
    color: dodgerblue;
}

.x {
    color: black;
}

.tiktok {
    color: rgb(227, 8, 176);
}

/* Subtítulos */
h3 {
    margin-top: 10px;
    color: #000;
}

/* Estilo general para iframes */
iframe {
    display: block;
    margin: 15px auto 40px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: none;
}
