body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    margin-top: 30px;
    color: #333;
}

.contenedor-video {
    margin-top: 20px;
}

video {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
